@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

@layer base {
    body {
        min-height: 100vh;
    }

    h1 {
        @apply text-3xl font-bold;
        @apply sm:text-4xl;
        @apply md:text-5xl;
        @apply lg:text-6xl;
    }

    h2 {
        color: #3e3a39;
        @apply text-2xl font-bold;
        @apply md:text-3xl;
        @apply lg:text-4xl;
    }

    h3 {
        color: #3e3a39;
        @apply text-lg;
        @apply sm:text-xl;
        @apply lg:text-2xl;
    }

    h4 {
        color: #3e3a39;
        @apply text-base font-bold;
        @apply sm:text-lg;
        @apply lg:text-xl;
    }

    p, li {
        color: #595757;
        @apply text-left;
        @apply text-sm;
        @apply md:text-base;
        @apply xl:text-lg
    }
    
    svg {
        @apply h-6 w-6;
        fill: #335443;
    }

    hr {
        border-top: 1px solid #ccc;
    }
}

.content-block {
    @apply w-5/6 px-8 py-6 mx-auto text-left bg-gray-100 hover:bg-gray-200 transform duration-200;
    @apply my-12 rounded;
    @apply sm:my-16 sm:rounded-lg;
    @apply lg:my-24 lg:rounded-xl;
}